@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        color: #e26464;
        text-align: center;
    }

    .notfound-img {
        display: flex;
        justify-content: center;
        align-items: center ;

        img {
            object-fit: scale-down;
            width: 100%;
    
            @media (min-width: 768px) {
                width: 33%;
            }
        }
    }


    .center-content {
        margin-bottom: 180px;

        @media (min-width:768px) {
            margin-top: 3rem;
            margin-bottom: 476px;

        }
    }
}