@import '../../Generics/media-content';

.article-and-news {

    .container {
      display: flex;
      flex-direction: column;

      .top-row {
        display: flex;
        flex-direction: column;
  
        @media (min-width: 768px) { 
          flex-direction: row;      
          align-items: center;
          justify-content: space-between;
        }
  
        .section-title {
          text-align: center;
  
          @media (min-width: 768px) {
            text-align: left;
  
            p {
              font-size: 1.5rem;
            }
  
            h2 {
              font-size: 3rem;
            }
          }              
        }
      }

      .article-item {
        @include image-styles;
        @include text-styles;
      }
  
      .center-content {
        margin: 20px 0 30px;
        text-align: center;
      }
    }
}